# Practice Problem 2
### problem Compare population growth in the U.S. and China.
compare them both in terms of absolute growth and relative growth

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv('gapminder.tsv', sep='\t')

In [4]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
us = data[data.country == 'United States']
china = data[data.country == 'China']
us.head()

            country continent  year  lifeExp        pop    gdpPercap
1608  United States  Americas  1952    68.44  157553000  13990.48208
1609  United States  Americas  1957    69.49  171984000  14847.12712
1610  United States  Americas  1962    70.21  186538000  16173.14586
1611  United States  Americas  1967    70.76  198712000  19530.36557
1612  United States  Americas  1972    71.34  209896000  21806.03594

In [10]:
china.head()

    country continent  year   lifeExp        pop   gdpPercap
288   China      Asia  1952  44.00000  556263527  400.448611
289   China      Asia  1957  50.54896  637408000  575.987001
290   China      Asia  1962  44.50136  665770000  487.674018
291   China      Asia  1967  58.38112  754550000  612.705693
292   China      Asia  1972  63.11888  862030000  676.900092

In [ ]:
plt.plot(us.year, us.pop)
plt.plot(china.year, china.pop)
plt.legend(["United States", "China"])
plt.show()

In [ ]:
us_pop_growth = us.pop / us.pop.iloc[0] * 100
china_pop_growth = china.pop / china.pop.iloc[0] * 100

In [ ]:
plt.plot(us.year, us_pop_growth)
plt.plot(china.year, china_pop_growth)
plt.legend(["United States", "China"])
plt.show()